header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8dvh;
    padding-top: 12px;
    margin: 0px 80px;
    > .logo {
        height: 60px;
        width: 80px;
        background-image: url("/assets/image/header/whiteLogo.png");
        background-size: 60px 60px;
        background-repeat: no-repeat;
        background-position: center;
        transition: filter 0.3s ease;
        &:hover{
            filter:  sepia(100%) saturate(10000%) hue-rotate(280deg);
        }
    }
    > .language {
        width: 8vw;
    }
}
