<section>
    <div class="socials-icons">
        <a href="#">
            <img src="/assets/image/hero/github.png" alt="">
        </a>
        <a href="#">
            <img src="/assets/image/hero/linkedIn.png" alt="">
        </a>
        <a href="#">
            <img src="assets/image/hero/mails.png" alt="">
        </a>
    </div>
    <div class="hero-main">
        <div class="hero-upper-part">
        <div class="hero-upper-part-text">
            <button>Hello world</button>
            <div class="frontend">Frontend</div>
        </div>
        <img src="/assets/image/hero/Polaroid Frame.png" alt="">
    </div>
    <div class="hero-down-part">
        <div class="developer">DEVELOPER</div>
        <button>Get in Touch</button>
    </div>
    </div>
    <div class="fill"></div>
</section>
