section{
    display: flex;
    height: 70dvh;
    justify-content: space-between;
    margin: 0px 80px;

}
.socials-icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    width: 10%;
    > a {
        border: 2px solid white;
        border-radius: 50px;
        transition: background-color 0.4s ease;
        &:hover{
            background-color: #BA55D3;
            border-radius: 50px;
        }
        >img{
            height: 50px;
            padding: 4px;
        }
        
    }
}

.hero-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 20px;
    .hero-upper-part{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 80px;

    > .hero-upper-part-text{
        >button{
            font-size: 30px;
            border-radius: 50px;
            padding: 5px 10px;
            background-color: transparent;
            border: white 2px solid;
            color: white;
            &:hover{
                padding: 5px 40px;
                background-color: #BA55D3;
                transition: background-color 0.4s ease;
            }
        }
        > .frontend{
            font-weight: bold;
            font-size: 16rem;
        }
    }
    >img{
        transform: rotate(10deg);
        height: 350px;
        width: 300px;
        }
}
    .hero-down-part{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        > .developer{
            font-weight: bold;
            font-size: 16rem;
        }
        > button{
            font-size: 30px;
            border-radius: 50px;
            padding: 5px 10px;
            background-color: transparent;
            border: white 2px solid;
            color: white;
            &:hover{
                background-color: #BA55D3;
                transition: background-color 0.4s ease;
            }
        }
    }
}
.fill{
    width: 10%;
}
