<section>
    <div class="content">
        <div class="socials-icons">
            <a href="https://github.com/Nokaarimikalu" target="_blank" rel="noopener noreferrer">
                <img src="assets/image/hero/github.png" alt="">
            </a>
            <a href="https://de.linkedin.com/" target="_blank" rel="noopener noreferrer">
                <img src="assets/image/hero/linkedIn.png" alt="">
            </a>
            <a href="mailto:fliednerpascal@gmail.com">
                <img src="assets/image/hero/mails.png" alt="">
            </a>
        </div>
        <div class="hero-main">
            <div class="hero-upper-part">
            <div class="hero-upper-part-text">
                <button>{{'hero.hello' | translate}}</button>
                <div class="header">
                    @for (word of frontend; track $index) {
                      <span [class]="'char-' + $index"></span>
                    }
                </div>
            </div>
            <div class="image-wrapper">
                <img src="assets/image/hero/polariod.png" alt="">
            </div>
      
        </div>
        <div class="hero-down-part">
            <div class="header">
                @for (word of developer; track $index ) {
                     <span [class]="'charb-' + $index"></span>
                    }
            </div>
            <a href="#getInTouch">
                <button>{{'hero.contact' | translate}}</button>
            </a>
        </div>
        <div class="resposniveImage">
            <span></span>
        </div>

        </div>
    </div>
</section>
