section{
    min-height: 100dvh;
    background-size: 100%  90dvh;
    background-repeat: no-repeat;
    background-image: url("/assets/image/hero/01_Hero.png");
    .content{
        height: 80dvh;
        display: flex;
        width: 100%;
        gap: 20%;
    }
}
.socials-icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px 0px 4% 80px ;
    left: 0px;
    gap: 10px;
    a {
        border: 2px solid white;
        border-radius: 50px;
        transition: background-color 0.4s ease;
        &:hover{
            background-color: #D8B4E2;
            border-radius: 50px;
        }
        img{
            height: 50px;
            padding: 4px;
        }
        
    }
}

.hero-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 20px;
    .hero-upper-part{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 80px;

    .hero-upper-part-text{
        button{
            font-size: 30px;
            border-radius: 50px;
            padding: 5px 10px;
            background-color: transparent;
            border: white 2px solid;
            color: white;
            &:hover{
                padding: 5px 40px;
                background-color: #D8B4E2;
                transition: background-color 0.4s ease;
            }
        }
        .frontend{
            font-weight: bold;
            font-size: 13rem;
        }
    }
    img{
        transform: rotate(10deg);
        height: 300px;
        width: 250px;
        }
}
    .hero-down-part{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .developer{
            font-weight: bold;
            font-size: 13rem;
        }
        button{
            font-size: 30px;
            border-radius: 50px;
            padding: 5px 10px;
            background-color: transparent;
            border: white 2px solid;
            color: white;
            &:hover{
                background-color: #D8B4E2;
                transition: background-color 0.4s ease;
            }
        }
    }
}
.fill{
    width: 10%;
}
