<section>
    <div class="content">
        <div class="left-part">
            <button>Go Back</button>
            <h1>Projekt</h1>
            <div class="description">
                <h3>Description</h3>
                <span>
                    Task manager inspired by the Kanban System. Create and organize tasks using drag and
                    drop functions, assign users and categories.
                </span>
            </div>
            <div class="detaisl">
                <h3>Implementation</h3>
                <span>
                    Short text that describes your role or the workflor for this specific project. Let a recruiter know more about your knowledge and ability to work independently
                    or collaboratively in a structured way.
                </span>
            </div>
            <p><b>Duration</b>: 5Weeks</p>
            <span class="html-css">CSS HTML Firebase Angular Typescript</span>
        </div>
        <div class="right-part">

        </div>
    </div>
</section>