<section>
    <div class="left-part ">
        <div class=" left-images-one all-images">
            <img src="/assets/image/aboutMe/located.png" alt="">
            <p>Based in Schwabhausen</p>
        </div>
        <div class=" left-images-two all-images">
            <img src="/assets/image/aboutMe/relocate.png" alt="">
            <p>Open to relocate</p>
        </div>
        <div class=" left-images-three all-images">
            <img src="/assets/image/aboutMe/homeoffice.png" alt="">
            <p>Open to work remote</p>
        </div>
    </div>
    <div class="right-part">
        <h3>Who's Carl?</h3>
        <h2>About me</h2>
        <div class="text">
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit esse
            hic sed, omnis totam debitis ex error sapiente id tenetur pariatur
            laborum ipsum vitae quas fugit in voluptatum quis maiores.
        </p>
        <button>Let's talk</button>
        </div>
    </div>
</section>
