section {
    display: flex;
    min-height: 100dvh;
    font-size: 10px;
    .content {
        display: flex;
        padding-bottom: 4em;
        padding-top: 8em;
        .left-part {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            .all-images {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                height: 20em;
                width: 60em;
                background-size: 100% 100%;
                p {
                    text-align: center;
                    font-size: 2.4em;
                }
            }
            .left-images-one {
                z-index: 2;
                background-image: url("./../../../../public/assets/image/aboutMe/1.png");
                transform: rotate(-6deg);
                margin-bottom: -6.5em;
                padding-bottom: 2em;
            }
            .left-images-two {
                background-image: url("./../../../../public/assets/image/aboutMe/2.png");
                z-index: 1;
            }
            .left-images-three {
                background-image: url("./../../../../public/assets/image/aboutMe/3.png");
                transform: rotate(4deg);
                margin-top: -6em;
            }
        }
        > .right-part {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
            .test {
                width: fit-content;
                .htwo {
                    h2 {
                        display: inline-block;
                        margin-bottom: -15px;
                    }
                }
                .image {
                    height: 40px;
                    img {
                        width: 300px;
                        padding-bottom: 4em;
                        animation: boomerang infinite ease-in-out;
                        animation-duration: 5s;
                    }
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 4em;
                > p {
                    font-size: 2.4em;
                }
                > a {
                    align-self: flex-end;
                    
                    > button {
                        padding: 0.5em 1em;
                        border-radius: 5em;
                        font-size: 2.4em;
                        box-shadow: 1.5px 4px;
                        background-color: white;
                        &:hover {
                            color: white;
                            background-color: #e77e60;
                            box-shadow: none;
                            translate: 1.5px 4px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    section {
        font-size: 8px;
        @media (max-width: 590px) {
            font-size: 7px;
        }
        .content {
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            gap: 2em;
            @media (max-width: 440px) {
                gap: 9em;
            }
            .right-part {
                width: 80%;
                @media (max-width: 550px) {
                    width: 80%;
                }
                @media (max-width: 340px) {
                    width: 90%;
                }
            }
            .left-part {
                .all-images {
                    @media (max-width: 440px) {
                        width: 310px;
                        height: 110px;
                    }
                    @media (max-width: 550px) {
                        img {
                            height: 65px;
                        }
                    }
                }
            }
        }
    }
}
