section {
    display: flex;
    height: 92dvh;
    font-size: 10px;
    .content {
        display: flex;
        .left-part {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            .all-images {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                height: 20em;
                width: 60em;
                background-size: 100% 100%;
                p {
                    text-align: center;
                    font-size: 2.4em;
                }
            }
            .left-images-one {
                z-index: 2;
                background-image: url("/assets/image/aboutMe/1.png");
                transform: rotate(-6deg);
                margin-bottom: -6.5em;
                padding-bottom: 2em;
            }
            .left-images-two {
                background-image: url("/assets/image/aboutMe/2.png");
                z-index: 1;
            }
            .left-images-three {
                background-image: url("/assets/image/aboutMe/3.png");
                transform: rotate(4deg);
                margin-top: -6em;
            }
        }
        > .right-part {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
            > h2 {
                padding-bottom: 1em;
            }
            > .text {
                display: flex;
                flex-direction: column;
                gap: 4em;
                > p {
                    font-size: 2.4em;
                }
                > button {
                    align-self: flex-end;
                    padding: 0.5em 1em;
                    border-radius: 5em;
                    font-size: 2.4em;
                    background-color: white;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    section {
        font-size: 8px;
        @media (max-width: 550px){
            height: 110dvh;
            font-size: 7px;
        }
        .content {
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            gap: 2em;
            @media (max-width: 440px){
                gap: 9em;
            }
            .right-part{
                @media(max-width: 900px){
                    width: 60%;
                }
                @media(max-width: 550px){
                    width: 80%;
                }
                @media(max-width: 340px){
                    width: 90%;
                }
            }
            .left-part{
                .all-images{
                    @media (max-width: 440px){
                        width: 310px;
                        height: 110px;
                    }
                    @media (max-width: 550px){
                        img{
                        height: 65px;
                        }
                    }
                }
            }
        }
    }
}
