section{
    display: flex;
    height: 92dvh;
    .content{
        display: flex;
        .left-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        > .all-images{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: white;
            height: 200px;
            width: 600px;
            background-size: 100% 100%;
        }
        > .left-images-one{
            z-index: 2;
            background-image: url("/assets/image/aboutMe/1.png");
            transform: rotate(-6deg);
            margin-bottom: -65px;
            > p{
                height: 60px;
            }
        }
        > .left-images-two{
            background-image: url("/assets/image/aboutMe/2.png");
            z-index: 1;
        }
        > .left-images-three{
            background-image: url("/assets/image/aboutMe/3.png");
            transform: rotate(4deg);
            margin-top: -60px;
        }

    }
    > .right-part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        > h2{
            padding-bottom: 6rem;
        }
        > .text{
            display: flex;
            flex-direction: column;
            gap: 40px;
            > p{
            font-size:  24px;
        }
        > button{
            align-self: flex-end;
            padding: 5px 10px;
            border-radius: 50px;
            font-size: 24px;
            background-color: white;
        }
        }
        
    }
    }
}

