<section>
    <div class="content">
        <div class="myProjects">
            <div class="title">
                <h3>My Craft</h3>
                <h2>Projects</h2>
                <span>
                    Encourage people to take a look and interact with your
                    projects. Highlight your approach to creating responsive,
                    user-friendly projects with efficient code.
                </span>
            </div>
            @for (item of myProjects; track $index) {
            <div class="template-project">
                <div class="image">
                    <img [src]="item.url" alt="" />
                    <button class="buttonOne">
                        {{ "myProjects.projectDetails" | translate }}
                    </button>
                </div>
                <div class="titleForProject">
                    <h3>{{ item.title | translate }}</h3>
                    <span>{{ item.text | translate }}</span>
                    <button class="buttonTwo">
                        {{ "myProjects.projectDetails" | translate }}
                    </button>
                </div>
            </div>
            }
        </div>
    </div>
</section>
