
    <div class="content">
        <div class="logo"></div>
        <app-navbar class="full-nav"></app-navbar>
        <app-lang-toggle class="language"></app-lang-toggle>
        <div class="menu" (click)="toggleMenu()">
            <div class="whiteLine"></div>
            <div class="whiteLine"></div>
            <div class="whiteLine"></div>
        </div>
        <div class="blackOverlay" [class.d-flex]="menuOpen"></div>
        <div class="slide-menu" [class.open]="menuOpen">
            <div class="menu-icon-closeBar">
                <img src="assets/image/header/whiteLogo.png" alt="">
                <div class="menu" (click)="toggleMenu()">
                    <div class="whiteLine"></div>
                    <div class="whiteLine"></div>
                    <div class="whiteLine"></div>
                </div>
            </div>
            <app-navbar></app-navbar>
            <div class="mobile-Lang">
                <app-lang-toggle [class.d-flex]="menuOpen"></app-lang-toggle>
            </div>
            <app-social-media></app-social-media>
        </div>
    </div>
