<section>
    <div class="content">
        <div class="upper-part">
            <div class="top">
                <img src="/assets/image/comments/arrowLeft.png" alt="" />
                <h3>In their Words:</h3>
            </div>
            <h2>Colleagues Thoughts</h2>
        </div>
        <div class="card comment-one">
            <div class="flex">
                <img
                    class="hoverEffect"
                    src="/assets/image/comments/image.png"
                    alt=""
                />
                <div class="text">{{ CommentOne.text }}</div>
                <div class="bottom">
                    <div class="nameAndWork">
                        <h3>{{ CommentOne.name }}</h3>
                        <h4>{{ CommentOne.work }}</h4>
                    </div>
                    <div class="linkedIn">
                        <img src="" alt="" />
                        <a href=""><span>Profile</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card comment-two">
            <div class="flex">
                <img
                    class="hoverEffect"
                    src="/assets/image/comments/image.png"
                    alt=""
                />
                <div class="text">{{ CommentTwo.text }}</div>
                <div class="bottom">
                    <div class="nameAndWork">
                        <h3>{{ CommentTwo.name }}</h3>
                        <h4>{{ CommentTwo.work }}</h4>
                    </div>
                    <div class="linkedIn">
                        <img src="" alt="" />
                        <a href=""><span>Profile</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card comment-three">
            <div class="flex">
                <img
                    class="hoverEffect"
                    src="/assets/image/comments/image.png"
                    alt=""
                />
                <div class="text">{{ CommentThree.text }}</div>
                <div class="bottom">
                    <div class="nameAndWork">
                        <h3>{{ CommentThree.name }}</h3>
                        <h4>{{ CommentThree.work }}</h4>
                    </div>
                    <div class="linkedIn">
                        <img src="" alt="" />
                        <a href=""><span>Profile</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
