<section>
    <div class="content">
        <div class="upper-part">
            <div class="top">
                <img src="/assets/image/comments/arrowLeft.png" alt="" />
                <h3>{{ "comments.headingSmall" | translate }}</h3>
            </div>
            <h2>{{ "comments.headingBig" | translate }}</h2>
        </div>
        <div class="allCards">
            @for (item of Comments; track $index) {
            <div class="card comment-{{ item.class }}">
                <div class="flex">
                    <img
                        class="hoverEffect"
                        src="/assets/image/comments/gelbeStreifen.png"
                        alt=""
                    />
                    <div class="text">{{ item.text | translate }}</div>
                    <div class="bottom">
                        <div class="nameAndWork">
                            <h3>{{ item.name | translate }}</h3>
                            <h4>{{ item.work | translate }}</h4>
                        </div>
                        <div class="linkedIn">
                            <div class="images"></div>
                            <a href="{{ item.profileLink }}">{{
                                "comments.profile" | translate
                            }}</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
