section {
    font-size: 10px;
    @media (max-width: 420px) {
        font-size: 9px;
    }
    @media (max-width: 380px) {
        font-size: 8px;
    }
    @media (max-width: 340px) {
        font-size: 7px;
    }
    .content {
        display: flex;
        flex-direction: column;
        padding: 12em;
        .upper-part {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            .top {
                display: flex;
                justify-content: flex-end;
                gap: 1.5em;
                img {
                    height: 4em;
                }
                h3 {
                    font-size: 2.4em;
                }
            }
            h2 {
                font-size: 6em;
            }
        }
        .allCards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 4em;
        }
        .card {
            background: url("./../../../../public/assets/image/comments/frontComment.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border-radius: 2em;
            height: 42em;
            width: 46em;

            .flex {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                .text {
                    margin: 2em;
                    font-size: 1.8em;
                }
                .bottom {
                    display: flex;
                    justify-content: space-between;
                    padding: 0em 4em 4em 4em;
                    .linkedIn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover{
                            a{
                                color: white;
                            }
                            .images{
                                content: url("./../../../../public/assets/image/comments/whiteLinkedIn.png");
                            }
                        }
                        .images {
                            height: 30px;
                            content: url("./../../../../public/assets/image/comments/blackLinkedIn.png");
                        }
                        a {
                            font-size: 20px;
                            color: black;
                        }
                    }
                    &:hover{
                        .nameAndWork{
                            color: white;
                        }
                    }
                }
            }

            .hoverEffect {
                position: absolute;
                transition: opacity 0.3s ease-in-out;
                opacity: 0;
                height: 100%;
                width: 100%;
            }
            &:hover {
                z-index: 10;
                .hoverEffect {
                    opacity: 0.3;
                }
            }
        }
        .comment-one {
            z-index: 3;
            transform: rotate(-6deg);
        }
        .comment-two {
            z-index: 1;
        }
        .comment-three {
            z-index: 0;
            transform: rotate(6deg);
        }
    }
}

@media (max-width: 1160px) {
    section .content {
        padding: 12em 6em 12em 6em;
        @media (max-width: 710px) {
            padding: 10em 3em 10em 3em;
        }
        @media (max-width: 525px) {
            padding: 10em 1em 10em 1em;
        }
    }
}

@media (max-width: 1039px) {
    section .content {
        .allCards {
            gap: 6em;
        }
        .upper-part {
            h2 {
                font-size: 5em;
                @media (max-width: 555px) {
                    font-size: 4em;
                }
            }
        }
        .card {
            transform: rotate(0deg);
        }
    }
}
@media (max-width: 480px) {
    section .content .card {
        height: 50em;
        width: 40em;
        @media (max-width: 340px) {
            height: 60em;
        }
    }
}
