<section>
    <div class="content">
        <div class="policy">
            <h1>{{ 'policy.title' | translate }}</h1>
            <p>{{ 'policy.general' | translate }}</p>
            <p>{{ 'policy.collection' | translate }}</p>
            <p>{{ 'policy.usage' | translate }}</p>
            <p>{{ 'policy.disclosure' | translate }}</p>
            <p>{{ 'policy.cookies' | translate }}</p>
            <p>{{ 'policy.rights' | translate }}</p>
            <p>{{ 'policy.contact' | translate }}</p>
        </div>
    </div>
</section>