<div class="footer-section">
    <div class="content">
        <div class="footer-part">
            <div class="left-part">
                <h3>CONTACT ME</h3>
                <h2>Ready to work together?</h2>
                <span>
                    Encourage people to contaxt you and descreibe what role you
                    are interesred in. Express confidence in your ability to
                    make a meaningful contribution to a team through your
                    ezpertise and enthusiam for improving your skills.
                </span>
                <span class="spanTwo">
                    Show interest in controbuting to a new project, while
                    highlighting the value and skills you can bring to the
                    table.
                </span>
                <div>
                    <img src="/assets/image/footer/rightArrow.png" alt="" />
                </div>
            </div>
            <form>
                <label for="name">What's your name?</label>
                <input
                    class="inputfeld"
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Your name goes here"
                />

                <label for="email">What's your email?</label>
                <input
                    class="inputfeld"
                    type="email"
                    id="email"
                    name="email"
                    placeholder="youremail@gmail.com"
                />

                <label for="message">How can I help you?</label>
                <textarea
                    class="inputfeld"
                    id="message"
                    name="message"
                    placeholder="Hello Pascal, I am interested in..."
                ></textarea>

                <label class="checkbox">
                    <p>
                        <input type="checkbox" id="privacy" name="privacy" />
                        I've read the <a href="#">privacy policy</a> and agree
                        to the processing of my data as outlined.
                    </p>
                </label>
                <div class="send-button">
                    <img src="/assets/image/footer/rightArrow.png" alt="" />
                    <button type="submit" disabled>Send</button>
                </div>
            </form>
        </div>
        <div class="bottom-part">
            <div class="logoAndName">
                <img src="/assets/image/header/whiteLogo.png" alt="" />
                <h4>© Pascal Fliedner</h4>
                <a href="">Legal Notice</a>
            </div>
            <div class="links">
                <a href="">GitHub</a>
                <a href="">LinkedIn</a>
                <a href="">Email</a>
            </div>
        </div>
    </div>
</div>
