.footer-section {
    background: url("/assets/image/footer/06_Contact.png");
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        padding: 120px 120px 80px 120px;
        .footer-part {
            display: flex;
            justify-content: space-between;
            height: 480px;
            .left-part {
                display: flex;
                flex-direction: column;
                width: 40%;
                img {
                    display: flex;
                    flex: 1;
                    justify-self: flex-end;
                    height: 40px;
                    width: 200px;
                }
                h2 {
                    padding-bottom: 40px;
                }
                .spanTwo {
                    padding-bottom: 40px;
                }
            }
            form {
                width: 40%;
                gap: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                textarea:focus,
                input:focus {
                    outline: none;
                }
                #email,
                #name {
                    height: 40px;
                }
                .inputfeld {
                    background: transparent;
                    border-top: none;
                    border-bottom: 1px solid gold;
                    border-left: none;
                    border-right: none;
                    color: white;
                    width: 70%;
                }
                #message {
                    resize: none;
                    height: 80px;
                }
                label {
                    font-size: 20px;
                    p {
                        font-size: 14px;
                    }
                }
                .send-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    img {
                        display: none;
                        height: 30px;
                        width: 140px;
                    }
                    button {
                        padding: 10px 50px;
                        border-radius: 20px;
                    }
                }
            }
        }
        .bottom-part {
            display: flex;
            justify-content: space-between;
            gap: 20%;
            a {
                color: white;
                font-size: 16px;
            }
            .logoAndName {
                img {
                    height: 50px;
                }
                h4 {
                    padding-bottom: 20px;
                }
            }
            .links {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                flex: 1;
                width: 100%;
            }
        }
    }
}
