<div class="content">
    <div class="footer-part">
        <div class="left-part">
            <div class="left-part-text">
                <h3>{{"contactMe.title"  | translate }}</h3>
                <h2>{{"contactMe.subtitle"  | translate }}</h2>
                <span>
                    {{"contactMe.description1"  | translate }}
                </span>
                <span class="spanTwo">
                    {{"contactMe.description2"  | translate }}
                </span>
            </div>
            <div class="left-part-image">
                <img src="assets/image/footer/rightArrow.png" alt="" />
            </div>
        </div>
        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
            <label for="name">{{"contactMe.form.nameLabel"  | translate }}</label>
            <input
                class="inputfeld"
                type="text"
                id="name"
                name="name"
                required
                #nameField="ngModel"
                ngModel
                [placeholder]="'contactMe.form.namePlaceholder' | translate"
            />

            <label for="email">{{"contactMe.form.emailLabel"  | translate }}</label>
            <input
                class="inputfeld"
                type="email"
                id="email"
                name="email"
                required
                email
                #emailField="ngModel"
                ngModel
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                [placeholder]="'contactMe.form.emailPlaceholder' | translate"
            />

            <label for="message">{{"contactMe.form.messageLabel"  | translate }}</label>
            <textarea
                class="inputfeld"
                id="message"
                name="message"
                required
                #messageField="ngModel"
                ngModel
                [placeholder]="'contactMe.form.messagePlaceholder' | translate"
            ></textarea>

            <label class="checkbox">
                <input type="checkbox" id="privacy" name="privacy" required #privacyField="ngModel" ngModel />
                <p [innerHTML]="'contactMe.form.privacyText' | translate" 
                   [class.error-text]="privacyField.invalid && privacyField.touched"></p>
            </label>
                    <div class="send-button">
                <img src="assets/image/footer/rightArrow.png" alt="" />
                <button type="submit" >{{ 'contactMe.form.sendButton' | translate }}</button>
            </div>
        </form>

    </div>
    <div class="bottom-part">
        <div class="logoAndName">
            <div class="footer-logo">
                <img class="footer-logo-img" src="assets/image/header/whiteLogo.png" alt="" />
            </div>
            <div class="footer-name">
                <h4>{{"contactMe.footer.copyright"| translate}}</h4>
                <a class="legalNotice" href="">{{"contactMe.footer.legalNotice"| translate}}</a>
            </div>
        </div>
        
        <div class="links">
            <a href="" class="github-link">{{"contactMe.footer.links.github"| translate}}</a>
            <a href="" class="linkedin-link">{{"contactMe.footer.links.linkedin"| translate}}</a>
            <a href="" class="email-link">{{"contactMe.footer.links.email"| translate}}</a>
        </div>
    </div>
</div>
